<!DOCTYPE html>
<html>
<head>
    <title>Customer</title>

    <!-- css -->
    @Styles.Render("~/Content/stylesheets")
    @Styles.Render("~/font-awesome/fonts")
</head>
<body>

    <!-- navbar menu -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" class="navbar-brand"><b>B-JAM</b></a>
                @*<img src="../images/store.png" alt="Flower" class="navcode">*@
            </div>
            @Html.Partial("_LoginPartial")
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="#"><i class="fa fa-globe"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-custom">
                            <a href="@Url.Action("Index", "Software")" class=" panel-menu"><i class="fa fa-home"></i> Home</a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-custom">
                            <a href="@Url.Action("Users", "Software")" class=" panel-menu"><i class="fa fa-user"></i> User</a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-custom">
                            <a href="@Url.Action("Customer", "Software")" class="panel-active"><i class="fa fa-users"></i> Customer</a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-custom">
                            <a href="@Url.Action("Product", "Software")" class="panel-menu"><i class="fa fa-shopping-bag"></i> Product</a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-custom">
                            <a href="@Url.Action("Message", "Software")" class="panel-menu"><i class="fa fa-envelope"></i> Message</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" onclick="btnAddButton()"><span class="glyphicon glyphicon-plus"></span> Add</button>

                <br />
                <br />
                <table id="table_id" class="display">
                    <thead>
                        <tr class="tablecolor">
                            <th style="width: 60px"><center></center></th>
                            <th style="width: 60px"><center></center></th>
                            <th>Customer Number</th>
                            <th>Customer Name</th>
                            <th>Customer Address</th>
                        </tr>
                    </thead>
                </table>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">User Info</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal">
                                    <input type="hidden" id="customer_Id" />
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Customer Number</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="customer_CustomerNumber" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Customer Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="customer_CustomerName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Customer Address</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="customer_CustomerAddress" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="btnSaveCustomer()">Save</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Delete Customer</h4>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="deleteCustomerId" />
                                Are you sure you want to delete this?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" onclick="btnDeleteCustomer()">Delete</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"></div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <a href="#" style="color: blue">Contact us</a>
                    <a href="#" class="codition" style="color: blue">Privacy Policy</a>
                    &
                    <a href="#" style="color: blue">Terms of Use</a>
                    <p> Videoke Rental System version 1.0 - © copyright
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/Scripts/js")
    <script type="text/javascript">
        // globla varialbles
        var customers;

        //get customers
        function getCustomer() {
            customers = new Array();
            $.ajax({
                url: '/api/customer/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (Results) {
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {
                            customers.push({
                                EditId: '<button class="btn btn-primary btn-sm btn-block" onclick="btnEditButton()"><span class="glyphicon glyphicon-edit"></span> Edit</button>',
                                DeleteId: '<button class="btn btn-danger btn-sm btn-block" onclick="btnDeleteButton()"><span class="glyphicon glyphicon-trash"></span> Delete</button>',
                                Id: Results[i]["Id"],
                                CustomerNumber: Results[i]["CustomerNumber"],
                                CustomerName: Results[i]["CustomerName"],
                                CustomerAddress: Results[i]["CustomerAddress"]
                            });
                        }
                    }
                    $('#table_id').dataTable({
                        aaData: customers,
                        aoColumns: [
                                { mData: 'EditId' },
                                { mData: 'DeleteId' },
                                { mData: 'CustomerNumber' },
                                { mData: 'CustomerName' },
                                { mData: 'CustomerAddress' }
                        ]
                    });
                }
            });
            return customers;
        }

        // Add Product
        function btnSaveCustomer() {
            var customerObject = new Object();
            customerObject.CustomerNumber = document.getElementById('customer_CustomerNumber').value;
            customerObject.CustomerName = document.getElementById('customer_CustomerName').value;
            customerObject.CustomerAddress = document.getElementById('customer_CustomerAddress').value;
            var customerData = JSON.stringify(customerObject);

            var customerId = document.getElementById('customer_Id').value;
            if (customerId == 0) {
                $.ajax({
                    type: "POST",
                    url: '/api/customer/add',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: customerData,
                    statusCode: {
                        200: function () {
                            location.reload();
                        },
                        404: function () {
                            alert("Not Found");
                        },
                        500: function () {
                            alert("Bad Request");
                        }
                    }
                });
            } else {
                $.ajax({
                    type: "PUT",
                    url: '/api/updateCustomer/' + customerId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: customerData,
                    statusCode: {
                        200: function () {
                            location.reload();
                        },
                        404: function () {
                            alert("Not Found");
                        },
                        500: function () {
                            alert("Bad Request");
                        }
                    }
                });
            }
        }

        // edit
        function btnEditButton() {
            $('#myModal').modal({
                show: true,
                backdrop: 'static'
            });

            var table = $('#table_id').DataTable();

            $('#table_id tbody').on('click', 'tr', function () {
                document.getElementById('customer_Id').value = table.row(this).data().Id;
                document.getElementById('customer_CustomerNumber').value = table.row(this).data().CustomerNumber;
                document.getElementById('customer_CustomerName').value = table.row(this).data().CustomerName;
                document.getElementById('customer_CustomerAddress').value = table.row(this).data().CustomerAddress;
            });
        }

        // delete
        function btnDeleteButton() {
            $('#myModalDelete').modal({
                show: true,
                backdrop: 'static'
            });
            var table = $('#table_id').DataTable();
            $('#table_id tbody').on('click', 'tr', function () {
                document.getElementById('deleteCustomerId').value = table.row(this).data().Id;
            });
        }
        function btnDeleteCustomer() {
            var customerId = document.getElementById('deleteCustomerId').value;

            $.ajax({
                type: "DELETE",
                url: '/api/deleteCustomer/' + customerId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        location.reload();
                    },
                    404: function () {
                        alert("Not Found");
                    },
                    500: function () {
                        alert("Bad Request");
                    }
                }
            });
        }

        // Add
        function btnAddButton() {
            $('#myModal').modal({
                show: true,
                backdrop: 'static'
            });

            document.getElementById('customer_Id').value = 0;
            document.getElementById('customer_CustomerNumber').value = "";
            document.getElementById('customer_CustomerName').value = "";
            document.getElementById('customer_CustomerAddress').value = "";
        }

        // On Load Page
        $(document).ready(function () {
            getCustomer();
        });
    </script>
</body>
</html>

