<!DOCTYPE html>
<html>
<head>
    <title>Reports</title>

    <!-- css -->
    @Styles.Render("~/Content/stylesheets")
    @Styles.Render("~/font-awesome/fonts")
</head>
<body>

    <!-- navbar menu -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" class="navbar-brand"><b>Videoke Rental System</b></a>
                @*<img src="../images/store.png" alt="Flower" class="navcode">*@
            </div>
            @Html.Partial("_LoginPartial")
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <a href="@Url.Action("Index", "Software")" class=" panel-menu"><i class="fa fa-list"></i> Main menu</a>
                    </div>
                    <div class="panel-heading panel-heading-custom">
                        <a href="@Url.Action("Users", "Software")" class=" panel-menu"><i class="fa fa-user"></i> User</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <a href="@Url.Action("Customer", "Software")" class="panel-menu"><i class="fa fa-users"></i> Customer</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <a href="@Url.Action("Product", "Software")" class="panel-menu"><i class="fa fa-microphone"></i> Videoke</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <a href="@Url.Action("Calendar", "Software")" class="panel-menu"><i class="fa fa-calendar"></i> Calendar</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <a href="@Url.Action("Message", "Software")" class="panel-active"><i class="fa fa-globe"></i> Notification</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <a href="@Url.Action("Reports", "Software")" class="panel-active"><i class="fa fa-print"></i> Reports</a>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Reports</h2>
                        <br /><br />
                        <input type="date" id="calendarRental" />
                        <button class="btn btn-primary" onclick="getIncome()"> Go <i class="fa fa-arrow-right"></i></button>
                        <input type="hidden" id="dateRent" />
                        <br /><br />
                        <table id="tblvideokeIncome" class="tbldisplay">
                            <thead>
                                <tr class="tablecolortbl">
                                    <th>Date Rent</th>
                                    <th>Videoke Name</th>
                                    <th>Customer</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                        </table>
                        <br /><br />
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> Date from: </label>
                                <div class="col-sm-4">
                                    <input type="date" id="reportsDateStart" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> To: </label>
                                <div class="col-sm-4">
                                    <input type="date" id="reportsDateEnd" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">  </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-primary btn-sm" onclick="printVideokeIncome_OnClick()"><i class="fa fa-print"></i> Print</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <footer class="footer">
        <div class="container">
            <div class="row">
                <nav>
                    <div class="col-lg-6">
                        <h4>Help</h4>
                        <ul style="list-style-type:none">
                            <li>
                                <a href="#" class="btnfooter">Contact</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms of Service</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <p>CONNECT WITH US</p>
                        <a href="#" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Like on us Facebook"><i class="fa fa-facebook-official"></i></a>
                        <a href="#" class="btn btn-info" data-placement="top" data-toggle="tooltip" title="Follow on us Facebook"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-danger" data-placement="top" data-toggle="tooltip" title="Email on us Google"><i class="fa fa-google"></i></a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr />
                    <p>
                        <center><small>© copyright 2016-2017 Online Videoke Rental System. All Rights Reserved.</small></center>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/Scripts/js")
    <script type="text/javascript">
        // globla varialbles
        var videokeIncomes;

        //get customers
        function getVideokeIncome() {
            videokeIncomes = new Array();
            $.ajax({
                url: '/api/videokeIncome/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (Results) {
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {
                            videokeIncomes.push({
                                Id: Results[i]["Id"],
                                CustomerId: Results[i]["CustomerId"],
                                Customer: Results[i]["Customer"],
                                ProductId: Results[i]["ProductId"],
                                Product: Results[i]["Product"],
                                Price: Results[i]["Price"],
                                DateRent: Results[i]["DateRent"],

                            });
                        }
                    }
                    $('#tblvideokeIncome').dataTable({
                        aaData: videokeIncomes,
                        aoColumns: [
                                { mData: 'DateRent' },
                                { mData: 'Product' },
                                { mData: 'Customer' },
                                { mData: 'Price' },

                        ]
                    });
                }
            });
            return videokeIncomes;
        }

        //get videoke Income
        function getIncome() {
            var x = document.getElementById("calendarRental").value;
            document.getElementById("dateRent").value = x;
            videokeIncomes = new Array();
            $.ajax({
                url: '/api/videokeIncome/' + x,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (Results) {
                    if (Results.length > 0) {
                        for (i = 0; i < Results.length; i++) {
                            videokeIncomes.push({
                                Id: Results[i]["Id"],
                                CustomerId: Results[i]["CustomerId"],
                                Customer: Results[i]["Customer"],
                                ProductId: Results[i]["ProductId"],
                                Product: Results[i]["Product"],
                                Price: Results[i]["Price"],
                                DateRent: Results[i]["DateRent"]

                            });
                        }
                    }

                    var table = $('#tblvideokeIncome').DataTable();
                    table.destroy();
                    setTimeout(function () {
                        $('#tblvideokeIncome').dataTable({
                            aaData: videokeIncomes,
                            aoColumns: [
                                    { mData: 'DateRent' },
                                    { mData: 'Product' },
                                    { mData: 'Customer' },
                                    { mData: 'Price' },
                            ]
                        });
                    }, 50);

                }
            });
            return videokeIncomes;
        }
        

        function printVideokeIncome_OnClick() {
            var reportsDateStart = document.getElementById('reportsDateStart').value;
            var reportsDateEnd = document.getElementById('reportsDateEnd').value;

            window.location.href = '/Software/VideokeIncomePDF?StartDate=' + reportsDateStart + '&EndDate=' + reportsDateEnd;
        }

        $(document).ready(function () {

            var now = new Date();

            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = now.getFullYear() + "-" + (month) + "-" + (day);

            $('#reportsDateStart').val(today);
            $('#reportsDateEnd').val(today);
            $('#calendarRental').val(today);

            getVideokeIncome();
        });

        



    </script>
</body>
</html>
