@{
    var videokeId = Request.QueryString["VideokeId"];
    var fullName = ViewData["FullName"];
    var userId = ViewData["UserId"];
}
<!DOCTYPE html>
<html>
<head>
    <title>Videoke Detail</title>

    <!-- css -->
    @Styles.Render("~/Content/stylesheets")
    @Styles.Render("~/font-awesome/fonts")
</head>
<body>

    <!-- navbar menu -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" class="navbar-brand"><b>Videoke Rental System</b></a>
                @*<img src="../images/store.png" alt="Flower" class="navcode">*@
            </div>
            @Html.Partial("_LoginPartial")
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <center>
                    <h1 id="videokeName"></h1><br />
                    <div id="imageDiv">
                        <image id="images" />
                    </div>
                </center>
            </div>
            @*<div class="col-md-4">

                    @*<div class="smallboxes">
                    </div>
                    <div class="smallboxes">
                    </div>
                    <div class="smallboxes">
                    </div>*
                </div>*@
            <div class="col-md-5">

                <h4 class="styleVideoke">Videoke Details</h4>
                <h4 id="videokeDetails"></h4>
                <br />
                <h4 class="styleVideoke">Price</h4>
                <h2 id="videokePrice"></h2>

                <br />
                <button id="btnCancelReserved" class="btn btn-danger btn-lg" onclick="btnCancelReserved_OnClick()">Cancel Reservation</button>
                <button id="btnrent" class="btn btn-primary btn-lg" onclick="btnrent_OnClick()">Rent</button>
                <button id="btnReserve" class="btn btn-success btn-block btn-lg" data-toggle="collapse" data-target="#reserve">Inquire for Reservation</button>
                <div class="collapse" id="reserve">
                    <br />
                    <div class="form-group">
                        <label for="firstname">Full Name:</label>
                        <input type="text" id="vd_fullName" class="form-control requiredVideokeReservation">
                    </div>
                    <div class="form-group">
                        <label for="address">Delivered Address:</label>
                        <textarea id="vd_address" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="contactNo">Contact No:</label>
                        <input type="text" id="vd_contactNo" class="form-control ">
                    </div>
                    <div class="form-group">
                        <label for="date">Date Reserve:</label>
                        <input type="date" id="vd_dateReserve" class="form-control requiredVideokeReservation" onchange="dateOnchange(this.value)">
                    </div>
                    <div class="form-group">
                        <label for="date">Due Date:</label>

                        <input type="date" id="vd_dateNeeded" class="form-control requiredVideokeReservation">
                    </div>
                    <button class="btn btn-default btn-lg" onclick="btnSubmitReservation()">Submit</button>
                </div>
                <br />
                <br />
                <br />

                <h1 id="reservedInformation">RENTED!</h1>
                <button class="btn btn-primary btn-block btn-lg" id="returnVideoke" onclick="btnReturnVideoke()">Return</button>
                <div id="infoReserved">
                    <form class="form-horizontal informationBox" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Reserved By:</label>
                            <div class="col-sm-8">
                                <p class="formreserve" id="vrRetrieve_Customer"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Date Reserved:</label>
                            <div class="col-sm-8">
                                <p class="formreserve" id="vrRetrieve_DateReserved"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Due Date:</label>
                            <div class="col-sm-8">
                                <p class="formreserve" id="vrRetrieve_DueDate"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Price:</label>
                            <div class="col-sm-8">
                                <p class="formreserve" id="vrRetrieve_PriceReserve"></p>
                            </div>
                        </div>
                    </form>
                </div>



                @*<button class="btn btn-primary btn-block btn-lg" data-toggle="collapse" data-target="#rental">Rent</button>
                    <br />
                    <div class="collapse" id="rental">
                        <br />
                        <div class="form-group">
                            <label for="firstname">Full Name:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="contactNo">Contact No:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="date">Date Rent:</label>
                            <input type="date" class="form-control">
                        </div>
                        <button class="btn btn-default btn-lg">Submit</button>
                    </div>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">


            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <br /><br /><br />
    <footer class="footer">
        <div class="container">
            <div class="row">
                <nav>
                    <div class="col-lg-6">
                        <h4>Help</h4>
                        <ul style="list-style-type:none">
                            <li>
                                <a href="#" class="btnfooter">Contact</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms of Service</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <p>CONNECT WITH US</p>
                        <a href="#" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Like on us Facebook"><i class="fa fa-facebook-official"></i></a>
                        <a href="#" class="btn btn-info" data-placement="top" data-toggle="tooltip" title="Follow on us Facebook"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-danger" data-placement="top" data-toggle="tooltip" title="Email on us Google"><i class="fa fa-google"></i></a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr />
                    <p>
                        <center><small>© copyright 2016-2017 Online Videoke Rental System. All Rights Reserved.</small></center>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/Scripts/js")
    <script type="text/javascript">

        //var image = document.getElementById("product_ImageDisplay").childNodes[0].nodeValue;
        //document.getElementById("imageslink").innerHTML = myText;

        // Global Variables
        var products;

        // get the data of the product
        function getProductDetails() {
            products = new Array();
            var productId = @videokeId;
            $.ajax({
                url: '/api/product/getId/' + productId,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (Results) {
                    if (Results.length > 0) {
                        products.push({
                            EditId: '<button class="btn btn-primary btn-sm btn-block" onclick="btnEditButton()"><span class="glyphicon glyphicon-edit"></span> Edit</button>',
                            DeleteId: '<button class="btn btn-danger btn-sm btn-block" onclick="btnDeleteButton()"><span class="glyphicon glyphicon-trash"></span> Delete</button>',
                            Id: Results.Id,
                            Images: Results.Images,
                            ProductNumber: Results.ProductNumber,
                            ProductName: Results.ProductName,
                            ProductDescription: Results.ProductDescription,
                            IsRented: Results.IsRented,
                            IsReserved: Results.IsReserved,
                            Price: Results.Price
                        });
                    }

                    document.getElementById('videokeName').innerHTML = Results.ProductName;
                    document.getElementById('videokePrice').innerHTML ="₱ " + Results.Price;
                    document.getElementById('vrRetrieve_PriceReserve').innerHTML ="₱ " + Results.Price;
                    document.getElementById('videokeDetails').innerHTML = Results.ProductDescription;

                    var productImageElement = document.createElement("images");
                    var imageData = new Image();
                    imageData.src = "data:image/jpeg;base64," + hexToBase64(Results.Images);
                    imageData.className = "imageCSS";
                    productImageElement.appendChild(imageData);
                    document.getElementById("imageDiv").appendChild(productImageElement);

                    if(Results.IsReserved == true) {
                        $('#btnReserve').hide();
                        $('#btnCancelReserved').show();
                        $('#infoReserved').show();
                        $('#btnrent').show();
                        $('#returnVideoke').hide();
                        $('#reservedInformation').hide();

                        if(Results.IsRented == true) {
                            $('#btnrent').hide();
                            $('#infoReserved').hide();
                            $('#btnCancelReserved').prop("disabled", true);
                            $('#reservedInformation').show();
                            $('#btnReserve').hide();
                            $('#returnVideoke').hide();
                            $('#reservedInformation').hide();
                        }

                    } else {
                        $('#btnCancelReserved').hide();
                        $('#infoReserved').hide();
                        $('#btnrent').hide();
                        $('#returnVideoke').hide();
                        $('#reservedInformation').hide();

                        if(Results.IsRented == true) {
                            $('#btnrent').hide();
                            $('#infoReserved').hide();
                            $('#btnCancelReserved').prop("disabled", true);
                            $('#reservedInformation').show();
                            $('#btnReserve').hide();
                            $('#returnVideoke').show();
                            $('#reservedInformation').show();
                        }
                    }

                    var videokeId = @videokeId;
                    $.ajax({
                        url: '/api/videokeReservation/listByDocumentId/' + videokeId,
                        cache: false,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (VRResults) {

                            //var customerId = VRResults.
                            if(VRResults != null)
                            {
                                $.ajax({
                                    url: '/api/customer/listCustomerByUserId/' + VRResults.UserId,
                                    cache: false,
                                    type: 'GET',
                                    contentType: 'application/json; charset=utf-8',
                                    success: function (CustomerResults) {

                                        var userId = "@userId";
                                        if(userId == CustomerResults.UserId)
                                        {
                                            $('#btnCancelReserved').show();
                                        }
                                        else
                                        {
                                            $('#btnCancelReserved').hide();
                                        }

                                    }
                                });

                                //vrRetrieve_Customer
                                document.getElementById('vrRetrieve_Customer').innerHTML = VRResults.ReserveByCustomer;
                                //document.getElementById('vrRetrieve_Address').innerHTML = Results.ReserveByCustomer;
                                //document.getElementById('vrRetrieve_ContactNumber').innerHTML = Results.ReserveByCustomer;
                                document.getElementById('vrRetrieve_DateReserved').innerHTML = VRResults.ReserveDateStart;
                                document.getElementById('vrRetrieve_DueDate').innerHTML = VRResults.ReserveDateEnd;
                            }
                        }
                    });
                }
            });

        }

        function hexToBase64(str) {
            return btoa(String.fromCharCode.apply(null, str.replace(/\r|\n/g, "").replace(/([\da-fA-F]{2}) ?/g, "0x$1 ").replace(/ +$/, "").split(" ")));
        }

        function btnCancelReserved_OnClick()
        {
            alertify.confirm("Are you sure to cancel your reservation ?", function(e) {
                if(e) {
                    var userId = "@userId";
                    $.ajax({
                        url: '/api/customer/listCustomerByUserId/' + userId,
                        cache: false,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (Results) {

                            var reservationObject = new Object();
                            var videokeId = @videokeId;
                            var customerId = Results.Id;

                            $.ajax({
                                type: "DELETE",
                                url: '/api/deleteVideokeReservation/' + videokeId + "/" + customerId,
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                statusCode: {
                                    200: function () {
                                        toastr.success("Successfully Cancel the Reservation");

                                        var productObject = new Object();
                                        productObject.IsReserved = false;
                                        productObject.IsRented = false;

                                        var productData = JSON.stringify(productObject);

                                        var productId = @videokeId;
                                        $.ajax({
                                            type: "PUT",
                                            url: '/api/updateProductIsReserved/' + productId,
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "json",
                                            data: productData,
                                            statusCode: {
                                                200: function () {
                                                    toastr.success("Successfully updated the product");
                                                    setTimeout(function () {
                                                        window.location.reload(1);
                                                    }, 1000);
                                                },
                                                404: function () {
                                                    alert("Not Found");
                                                },
                                                500: function () {
                                                    alert("Bad Request");
                                                }
                                            }
                                        });
                                    },
                                    404: function () {
                                        alert("Not Found");
                                    },
                                    500: function () {
                                        alert("Bad Request");
                                    }
                                }
                            });
                        }
                    });

                    //vd_fullName
                    //vd_address
                    //vd_contactNo
                    //vd_dateReserve
                    //vd_dateNeeded
                }
            });
        }

        // rented videoke
        function btnrent_OnClick()
        {
            alertify.confirm("Are you sure to rent this videoke ?", function(e) {
                if(e)
                {
                    var userId = "@userId";
                    $.ajax({
                        url: '/api/customer/listCustomerByUserId/' + userId,
                        cache: false,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        success: function (Results) {

                            var videokeObject = new Object();

                            var customerId = Results.Id;
                            var productId = @videokeId;

                            videokeObject.RentedDate = document.getElementById('vd_dateReserve').value;
                            videokeObject.ProductId = productId;
                            videokeObject.CustomersIdRented = customerId;

                            var productData = JSON.stringify(videokeObject);

                            $.ajax({
                                type: "PUT",
                                url: '/api/rentalVideoke/' + productId,
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: productData,
                                statusCode: {
                                    200: function () {
                                        toastr.info("Successfully rented");
                                        setTimeout(function () {
                                            window.location.reload(1);
                                        }, 1000);
                                    },
                                    404: function () {
                                        alert("Not Found");
                                    },
                                    500: function () {
                                        alert("Bad Request");
                                    }
                                }
                            });
                        }
                    });

                }
            });
        }

        function btnReturnVideoke() {
            var productId = @videokeId;
            $.ajax({
                type: "PUT",
                url: '/api/returnVideoke/' + productId,
                contentType: "application/json; charset=utf-8",
                statusCode: {
                    200: function () {
                        toastr.info("Successfully return");
                        setTimeout(function () {
                            window.location.reload(1);
                        }, 1000);
                    },
                    404: function () {
                        alert("Not Found");
                    },
                    500: function () {
                        alert("Bad Request");
                    }
                }
            });
        }

        // submit form in registration
        function btnSubmitReservation()
        {
            var userId = "@userId";
            $.ajax({
                url: '/api/customer/listCustomerByUserId/' + userId,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (Results) {

                    var reservationObject = new Object();
                    var videokeId = @videokeId;
                    var customerId = Results.Id;

                    document.getElementById('vd_dateReserve').value;
                    document.getElementById('vd_dateNeeded').value;

                    reservationObject.ProductId = videokeId;
                    reservationObject.ReserveByCustomerId = customerId;
                    reservationObject.ReserveDateStart = document.getElementById('vd_dateReserve').value;
                    reservationObject.ReserveDateEnd = document.getElementById('vd_dateNeeded').value;
                    var reservationData = JSON.stringify(reservationObject);

                    var isValid = true;
                    $('.requiredVideokeReservation').each(function () {
                        if ($.trim($(this).val()) == '') {
                            isValid = false;
                            $(this).css({
                                "border": "1px solid red"
                            });
                        }
                        else {
                            $(this).css({
                                "border": "",
                            });
                        }
                    });
                    if (isValid == false) {
                        toastr.error("Invalid Entry");
                    }
                    else {
                        $.ajax({
                            type: "POST",
                            url: '/api/videokeReservation/add',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: reservationData,
                            statusCode: {
                                200: function () {
                                    toastr.success("Successfully add");

                                    var productObject = new Object();
                                    productObject.IsReserved = true;
                                    productObject.IsRented = false;

                                    var productData = JSON.stringify(productObject);

                                    var productId = @videokeId;
                                    $.ajax({
                                        type: "PUT",
                                        url: '/api/updateProductIsReserved/' + productId,
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        data: productData,
                                        statusCode: {
                                            200: function () {
                                                toastr.success("Successfully updated");
                                                setTimeout(function () {
                                                    window.location.reload(1);
                                                }, 1000);
                                            },
                                            404: function () {
                                                alert("Not Found");
                                            },
                                            500: function () {
                                                alert("Bad Request");
                                            }
                                        }
                                    });
                                },
                                404: function () {
                                    alert("Not Found");
                                },
                                500: function () {
                                    alert("Bad Request");
                                }
                            }
                        });
                    }
                }
            });

            //vd_fullName
            //vd_address
            //vd_contactNo
            //vd_dateReserve
            //vd_dateNeeded
        }

        function dateOnchange(val) {

            var actualDate = new Date(val);
            // var newDate = new Date(actualDate.getFullYear(), actualDate.getMonth(), actualDate.getDate()+3);

            var day = ("0" + parseInt(actualDate.getDate()+3)).slice(-2);
            var month = ("0" + (actualDate.getMonth() + 1)).slice(-2);
            var updateDate = actualDate.getFullYear() + "-" + (month) + "-" + (day);


            document.getElementById('vd_dateNeeded').value = updateDate;
        }

        // ready function
        $(document).ready(function () {
            getProductDetails();
            var now = new Date();

            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = now.getFullYear() + "-" + (month) + "-" + (day);

            document.getElementById('vd_fullName').value = "@fullName";
            document.getElementById('vd_dateReserve').value = today;
            document.getElementById('vd_fullName').disabled = true;
            document.getElementById('vd_dateReserve').disabled = true;
            document.getElementById('vd_dateNeeded').disabled = true;

            dateOnchange(document.getElementById('vd_dateReserve').value);

        });

    </script>



</body>
</html>
