@{
    var videokeId = Request.QueryString["VideokeId"];
}
<!DOCTYPE html>
<html>
<head>
    <title>Videoke Detail</title>

    <!-- css -->
    @Styles.Render("~/Content/stylesheets")
    @Styles.Render("~/font-awesome/fonts")
</head>
<body>

    <!-- navbar menu -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" class="navbar-brand"><b>Videoke Rental System</b></a>
                @*<img src="../images/store.png" alt="Flower" class="navcode">*@
            </div>
            @Html.Partial("_LoginPartial")
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <center><h1 id="videokeName"></h1></center><br />
                <div id="imageDiv">
                    <image id="images" />
                </div>
            </div>
            <div class="col-md-4">

                @*<div class="smallboxes">
                    </div>
                    <div class="smallboxes">
                    </div>
                    <div class="smallboxes">
                    </div>*@
            </div>
            <div class="col-md-3">

                <center><h4 class="styleVideoke">Videoke Details</h4></center>
                <h4 id="videokeDetails"></h4>
                <center><h4 class="styleVideoke">Price</h4></center>
                <h2 id="videokePrice"></h2>

                <br />
                <button id="btnReserve" class="btn btn-success btn-block btn-lg" data-toggle="collapse" data-target="#reserve">Reserve</button>
                <div class="collapse" id="reserve">
                    <br />
                    <div class="form-group">
                        <label for="firstname">First Name:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="contactNo">Contact No:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="date">Date Reserve:</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="date">Date Needed:</label>
                        <input type="date" class="form-control"><br />
                    </div>
                    <button class="btn btn-default btn-lg">Submit</button>
                </div>
                <br />
                <button class="btn btn-primary btn-block btn-lg" data-toggle="collapse" data-target="#rental">Rent</button>
                <br />
                <div class="collapse" id="rental">
                    <br />
                    <div class="form-group">
                        <label for="firstname">First Name:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="contactNo">Contact No:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="date">Date Reserve:</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="date">Date Needed:</label>
                        <input type="date" class="form-control"><br />
                    </div>
                    <button class="btn btn-default btn-lg">Submit</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">


            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <br /><br /><br />
    <footer class="footer">
        <div class="container">
            <div class="row">
                <nav>
                    <div class="col-lg-6">
                        <h4>Help</h4>
                        <ul style="list-style-type:none">
                            <li>
                                <a href="#" class="btnfooter">Contact</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms of Service</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <p>CONNECT WITH US</p>
                        <a href="#" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Like on us Facebook"><i class="fa fa-facebook-official"></i></a>
                        <a href="#" class="btn btn-info" data-placement="top" data-toggle="tooltip" title="Follow on us Facebook"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-danger" data-placement="top" data-toggle="tooltip" title="Email on us Google"><i class="fa fa-google"></i></a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr />
                    <p>
                        <center><small>© copyright 2016-2017 Online Videoke Rental System. All Rights Reserved.</small></center>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/Scripts/js")
    <script type="text/javascript">

        //var image = document.getElementById("product_ImageDisplay").childNodes[0].nodeValue;
        //document.getElementById("imageslink").innerHTML = myText;

        // Global Variables
        var products;

        // get the data of the product
        function getProductDetails() {
            products = new Array();
            var productId = @videokeId;
            console.log(productId);
            $.ajax({
                url: '/api/product/getId/' + productId,
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (Results) {
                    if (Results.length > 0) {
                        products.push({
                            EditId: '<button class="btn btn-primary btn-sm btn-block" onclick="btnEditButton()"><span class="glyphicon glyphicon-edit"></span> Edit</button>',
                            DeleteId: '<button class="btn btn-danger btn-sm btn-block" onclick="btnDeleteButton()"><span class="glyphicon glyphicon-trash"></span> Delete</button>',
                            Id: Results.Id,
                            Images: Results.Images,
                            ProductNumber: Results.ProductNumber,
                            ProductName: Results.ProductName,
                            ProductDescription: Results.ProductDescription,
                            IsRented: Results.IsRented,
                            IsReserved: Results.IsReserved,
                            Price: Results.Price
                        });
                    }

                    document.getElementById('videokeName').innerHTML = Results.ProductName;
                    document.getElementById('videokePrice').innerHTML ="₱ " + Results.Price + '.00';
                    document.getElementById('videokeDetails').innerHTML = Results.ProductDescription;

                    var productImageElement = document.createElement("images");
                    var imageData = new Image();
                    imageData.src = "data:image/jpeg;base64," + hexToBase64(Results.Images);
                    imageData.className = "imageCSS";
                    productImageElement.appendChild(imageData);
                    document.getElementById("imageDiv").appendChild(productImageElement);

                    if(Results.IsReserved == true) {
                        $('#btnReserve').hide();
                    }

                }
            });

        }

        function hexToBase64(str) {
            return btoa(String.fromCharCode.apply(null, str.replace(/\r|\n/g, "").replace(/([\da-fA-F]{2}) ?/g, "0x$1 ").replace(/ +$/, "").split(" ")));
        }

        // ready function
        $(document).ready(function () {
            getProductDetails();
        });

    </script>



</body>
</html>
