<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>

    <!-- css -->
    @Styles.Render("~/Content/stylesheets")
</head>
<body>
    <!-- navbar menu -->
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <img src="../images/store.png" alt="Flower" class="navcode">
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index","Home")">Home </a></li>
                        <li><a href="about.html">About us </a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="@Url.Action("Register", "Account")"> Sign Up</a></li>
                        <li ><a href="@Url.Action("Login", "Account")"> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading"><h4><b>Sign up</b></h4></div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="firstname">First Name: </label>
                                <input type="text" class="form-control" id="firstname">
                            </div>
                            <div class="form-group">
                                <label for="lastname">Last Name: </label>
                                <input type="text" class="form-control" id="lastname">
                            </div>
                            <div class="form-group">
                                <label for="lastname">Birthdate: </label>
                                <input type="date" class="form-control" id="date">
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender: </label><br />
                                <label class="radio-inline"><input type="radio" name="Gender"> Male</label>
                                <label class="radio-inline"><input type="radio" name="Gender"> Famale</label>
                            </div>
                            <div class="form-group">
                                <label for="email">Email Address: </label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password: </label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Confirm Password: </label>
                                <input type="password" class="form-control" id="password">
                            </div>
                             <br />
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Signup</button>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <a href="#">Footer</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>


    </div>

    <!-- scripts -->
    @Scripts.Render("~/Scripts/js")
</body>
</html>

@*@model smartshop.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
