<!DOCTYPE html>
<html>
<head>
    <title>About</title>

    <!-- css -->
    @Styles.Render("~/Content/stylesheets")
    @Styles.Render("~/font-awesome/fonts")
</head>
<body>
    <div id="cssmenu">
        <ul>
            <li><a href="@Url.Action("Index","Home")"><span>Home</span></a></li>
            <li class ="active"><a href="@Url.Action("About","Home")"><span>About</span></a></li>
            
            <li>
                <a href="@Url.Action("RentalVideoke", "Home")"><span>Products</span></a>
                @*<ul>
                    <li class='has-sub'>
                        <a href="#"><span>Product 1</span></a>
                        <ul>
                            <li><a href='#'><span>Sub Product</span></a></li>
                            <li class='last'><a href='#'><span>Sub Product</span></a></li>
                        </ul>
                    </li>
                </ul>*@
            </li>
            @Html.Partial("_LoginPartial")
        </ul>
    </div>
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="#" class="imagesshop">
            </div>
            <div class="col-sm-12">
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"></div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <a href="#" style="color: blue">Contact us</a>
                    <a href="#" class="codition" style="color: blue">Privacy Policy</a>
                    &
                    <a href="#" style="color: blue">Terms of Use</a>
                    <p> © copyright 2016-2017.
                </div>
            </div>
        </div>
    </footer>

    <!-- scripts -->
    @Scripts.Render("~/Scripts/js")
    <script>

         (function ($) {
             $(document).ready(function () {
                 $('#cssmenu').prepend('<div id="menu-button">Menu</div>');
                 $('#cssmenu #menu-button').on('click', function () {
                     var menu = $(this).next('ul');
                     if (menu.hasClass('open')) {
                         menu.removeClass('open');
                     }
                     else {
                         menu.addClass('open');
                     }
                 });
             });
         })(jQuery);

    </script>
</body>
</html>

@*@{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@
