<!DOCTYPE html>
<html>
<head>
    <title>About</title>

    <!-- css -->
    @Styles.Render("~/Content/stylesheets")
    @Styles.Render("~/font-awesome/fonts")
</head>
<body>
    <!-- navbar menu -->
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index","Home")" class="navbar-brand"><b>smartSHOP.com</b></a>
                    @*<img src="../images/store.png" alt="Flower" class="navcode">*@
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index","Home")">Home </a></li>
                        <li class="active"><a href="@Url.Action("About","Home")">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Register", "Account")"> Sign Up</a></li>
                        <li><a href="@Url.Action("Login", "Account")"> Log in</a></li>
                        @*@Html.Partial("_LoginPartial")*@
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="../images/shopping.jpeg" class="imagesshop">
            </div>
            <div class="col-sm-12">
                <center><h3><b>About smartSHOP</b></h3></center>
                <p>
                    Welcome to smartSHOP, your one stop online shopping destination for everything
                    in the Philippines. Bringing you an insight on global trends, we feature your favorite
                    internationl designers and the most relevant Filipino brands.
                </p>
                <p>
                    We constantly update ourselves with the latest fashion trends to make sure
                    we only offer you the most exciting products available.
                </p>
                <p>
                    As we develop smartSHOP Online Ordering System for a hassle-free transaction
                    not only for the consumers but for the company employees as well. It is a web
                    based application software that enables the users to order and purchase
                    items/products via online. It provides customers with an effortless shopping
                    experience and retailers with simple and direct access to the largest customer
                    base in Philippines.
                </p>
                <p>
                    This will provide modules for ordering, security, sales and reports.
                    For security purposes, the system will have three (3) level of access. This
                    will be the Administrator/s, Members and Guests. Only Administrator has the
                    authority to configure the site, add/update/delete products, view orders and
                    generate reports. Members and Guests can view the store and add their orders
                    to a shopping cart but only members can proceed to checkout. This security
                    together with the log-in module will limit the access of non-administrator,
                    thus protecting the important data from hackers. For account protection of
                    the registered users, passwords will be encrypted upon saving into database.
                    In case the members forgot their password, the system will provide a link to
                    reset the password which will be sent only to the member’s email. For Guests,
                    they can easily sign up to the site by filling up the form provided in the
                    Registration Page. Personal information, log-in details and email are required
                    fields.
                </p>
                <p>
                    Aside from Security, Log-in, Forgot Password and Registration modules, the system
                    will also provide a Product Catalog. This will offer an easy-browsing of the products
                    offered by the company. Ordering can be done just by clicking the “Add to Cart” button.
                    This order will then be saved to the member/guest’s shopping cart. For multiple orders,
                    they can still continue browsing the store page. To purchase the item/s, a “Checkout”
                    button is provided. For guest, they will be prompted to login first or sign up. For
                    payment users can choose either through credit card or cash-on-delivery.
                </p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"></div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <a href="#" style="color: blue">Contact us</a>
                    <a href="#" class="codition" style="color: blue">Privacy Policy</a>
                    &
                    <a href="#" style="color: blue">Terms of Use</a>
                    <p> © copyright 2016-2017. smartSHOP
                </div>
            </div>
        </div>
    </footer>

    <!-- scripts -->
    @Scripts.Render("~/Scripts/js")
</body>
</html>

@*@{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@
