@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <section>
        @{ Response.Redirect("~/Software/Index");}
    </section>
}
else
{
   <!-- navbar menu -->
    <div id="cssmenu">
        <ul>
            <li><a href="@Url.Action("Index","Home")"><span>Home</span></a></li>
            <li><a href="@Url.Action("About","Home")"><span>About</span></a></li>
            <li>
                <a href="@Url.Action("RentalVideoke", "Home")"><span>Products</span></a>
                @*<ul>
                    <li class='has-sub'>
                        <a href="#"><span>Product 1</span></a>
                        <ul>
                            <li><a href='#'><span>Sub Product</span></a></li>
                            <li class='last'><a href='#'><span>Sub Product</span></a></li>
                        </ul>
                    </li>
                </ul>*@
            </li>
            @Html.Partial("_LoginPartial")
        </ul>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading"><h4><b>Sign up</b></h4></div>
                    <div class="panel-body">
                        @using VideokeRental.Models
                        @model RegisterViewModel
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <form role="form">
                                <div>
                                    <label for="name">Full Name: </label>
                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                                    <br />
                                    <label for="Username">Username: </label>
                                    @*<input type="email" class="form-control" id="email">*@
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                    <br />
                                    <label for="Email">Email: </label>
                                    @*<input type="email" class="form-control" id="email">*@
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    <br />
                                    <label for="pwd">Password: </label>
                                    @*<input type="password" class="form-control" id="password">*@
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    <br />
                                    <label for="pwd">Confirm Password: </label>
                                    @*<input type="password" class="form-control" id="password">*@
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                                <br />
                                @*<button type="submit" class="btn btn-primary btn-block btn-lg">Signup</button>*@
                                <input type="submit" class="btn btn-success btn-block btn-lg" value=" Register" />
                            </form>
                        }
                    </div>
                    <div class="panel-footer">
                        By clicking this button, you agree to smartSHOP's
                        <a href="#">Privacy Policy</a>
                        &
                        <a href="#">Terms of Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"></div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <p>  version 1.0 - © copyright
                </div>
            </div>
        </div>
    </footer>
}