@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <section>
        @{ Response.Redirect("~/Software/Index");}
    </section>
}
else
{
<!-- navbar menu -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" class="navbar-brand"><b></b></a>
                @*<img src="../images/store.png" alt="Flower" class="navcode">*@
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","Home")">Home </a></li>
                    <li><a href="@Url.Action("Index", "Home")#about">About</a></li>
                    <li><a href="@Url.Action("Index", "Home")#myCanvas">Subscribe</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
                @*<form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>*@
            </div>
        </div>
    </nav>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-info">
                   <div class="panel-heading">
                    <h4><b>Log in</b></h4></div>
                    <div class="panel-body">
                        <center><img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /></center>
                        <br />
                        <br />
                        @using VideokeRental.Models
                        @model LoginViewModel
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <form role="form">
                                <label for="email">Username:</label>
                                @*<input type="email" class="form-control" id="email">*@
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                <br />
                                <label for="pwd">Password:</label>
                                @*<input type="password" class="form-control" id="pwd">*@
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                <br />
                                <div>
                                    @*<label><input type="checkbox"> Remember me</label>*@
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                    <a href="#" class="pull-right">Forgot Password?</a>
                                </div>
                                <br />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
                            </form>
                        }
                    </div>
                    <div class="panel-footer">
                        <div>
                            <a href="#" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Like on us Facebook"><i class="fa fa-facebook-official"></i></a>
                            <a href="#" class="btn btn-info" data-placement="top" data-toggle="tooltip" title="Follow on us Facebook"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn btn-danger" data-placement="top" data-toggle="tooltip" title="Email on us Google"><i class="fa fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <nav>
                    <div class="col-lg-6">
                        <h4>Help</h4>
                        <ul style="list-style-type:none">
                            <li>
                                <a href="#" class="btnfooter">Contact</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms of Service</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <p>CONNECT WITH US</p>
                        <a href="#" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Like on us Facebook"><i class="fa fa-facebook-official"></i></a>
                        <a href="#" class="btn btn-info" data-placement="top" data-toggle="tooltip" title="Follow on us Facebook"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-danger" data-placement="top" data-toggle="tooltip" title="Email on us Google"><i class="fa fa-google"></i></a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr />
                    <p>
                        <center><small>© copyright 2016-2017 Online Videoke Rental System. All Rights Reserved.</small></center>
                    </p>
                </div>
            </div>
        </div>
    </footer>
}
