@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <section>
        @{ Response.Redirect("~/Software/Index");}
    </section>
}
else
{
    <!-- navbar menu -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" class="navbar-brand"><b></b></a>
                @*<img src="../images/store.png" alt="Flower" class="navcode">*@
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#myCarousel">Home </a></li>
                    <li><a href="#about">About</a></li>
                    @*<li class="active"><a href="@Url.Action("RentalVideoke","Home")">Product </a></li>*@
                </ul>
                @Html.Partial("_LoginPartial")
                @*<form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>*@
            </div>
        </div>
    </nav>

    @*<div id="cssmenu">

            <ul>

                <li class="active"><a href="@Url.Action("Index","Home")"><span>Home</span></a></li>
                <li><a href="@Url.Action("About","Home")"><span>About</span></a></li>
                <li>
                    <a href="@Url.Action("RentalVideoke", "Home")"><span>Products</span></a>
                    <ul>
                            <li class='has-sub'>
                                <a href="#"><span>Product 1</span></a>
                                <ul>
                                    <li><a href='#'><span>Sub Product</span></a></li>
                                    <li class='last'><a href='#'><span>Sub Product</span></a></li>
                                </ul>
                            </li>
                        </ul>
                </li>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>*@
    <div id="myCarousel" class="carousel slide carousel-custom" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            @*<li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>*@
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" align="center">
            <div class="item active" data-slide="next" aria-hidden="true">

                <img src="../images/videokebanner.jpg" alt="works" class="carouselImage">
                <div class="carousel-caption">
                    <h1></h1>
                    <p></p>
                    @*<p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>*@
                </div>
            </div>

            <div class="item" data-slide="next" aria-hidden="true">
                <img src="../images/aa.jpg" alt="save" class="carouselImage" />
                <div class="carousel-caption">

                    <h1></h1>
                    <p></p>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container">
        <div id="about">
            <br /><br /><br /><br />
            <center><h3>About Online Videoke Rental System</h3></center>
            <br /><br />
            <div class="row">
                <div class="col-sm-6">
                    <img src="../images/mypic2.jpg" />
                </div>
                <div class="col-sm-6">
                    <p class="paragraph">
                        Online Videoke Rental System is a web based application in which it is designed to do transaction and manage online.
                        The users of this system are the customers who like to rent a videoke. The system enable the users to
                        reserve and rent and also view the videoke item, this system will help those people don’t
                        have videoke’s at home. The system has its capabilities like easy access, user friendly and
                        understandable interface, (COD) Cash On Delivery that help the renter to manage his time.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="paragraph">
                        The Online Videoke Rental System is a web-based application that enables users/customers to
                        reserve the “Videoke” via online. The user can reserve the “Videoke” that are only available
                        The mode of payment is cash-on-delivery where the customer is going to pay as soon as the
                        item is already delivered at the designated address.
                    </p>
                </div>
                <div class="col-sm-6">
                    <img class="picsize" src="../images/mypic3.jpg" />
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br />

    <!-- Contact Us Modal -->
    <div class="modal fade" id="ContactUsModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Contact Us</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Email: butch.canada@gmail.com</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Call us: 09430817258</label>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <nav>
                    <div class="col-lg-6">
                        <h4>Help</h4>
                        <ul style="list-style-type:none">
                            <li>
                                <a href="#" data-toggle="modal" onclick="contactUsModal_OnClick()">Contact Us</a>

                                @*<a href="#" class="btnfooter">Contact</a>*@
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms of Service</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <p>CONNECT WITH US</p>
                        <a href="#" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Like on us Facebook"><i class="fa fa-facebook-official"></i></a>
                        <a href="#" class="btn btn-info" data-placement="top" data-toggle="tooltip" title="Follow on us Facebook"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-danger" data-placement="top" data-toggle="tooltip" title="Email on us Google"><i class="fa fa-google"></i></a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr />
                    <p>
                        <center><small>© copyright 2016-2017 Online Videoke Rental System. All Rights Reserved.</small></center>
                    </p>
                </div>
            </div>
        </div>
    </footer>
}
