@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <section>
        @{ Response.Redirect("~/Software/Index");}
    </section>
}
else
{
    <div class="header-wrapper">
        <ul>
            @*<li><a href="@Url.Action("Register", "Account")"> Sign Up</a></li>
                <li><a href="@Url.Action("Login", "Account")"> Login</a></li>*@
            @Html.Partial("_LoginPartial")
        </ul>
    </div>
    <!-- navbar menu -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" class="navbar-brand"><b>K-RENTAL.com</b></a>
                @*<img src="../images/store.png" alt="Flower" class="navcode">*@
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index","Home")">Home </a></li>
                    <li><a href="@Url.Action("About","Home")">About</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </nav>
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" align="center">
        <div class="item active">
            <img src="../images/unnamed14.jpg" alt="works" class="carouselImage">
        </div>

        <div class="item">
            <img src="../images/aa.jpg" alt="save" class="carouselImage" />
        </div>
    </div>
        <div class="btnclick" align="center">
            <a href="#page-intro" class="btn btn-info">Learn more!</a>
        </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                description
            </div>
            <div class="col-md-4">
                picture
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                picture
            </div>
            <div class="col-md-8">
                description
            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#" class="panel-menu">
                                Home
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-menu">
                            Bags <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="div-menu-custom">
                            <a href="#" class="a-link"> Back Back</a>
                            <a href="#" class="a-link"> Sling</a>
                            <a href="#" class="a-link"> Net Bag</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-menu">
                            Furniture <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="div-menu-custom">
                            <a href="#" class="a-link"> Sofa</a>
                            <a href="#" class="a-link"> Bed</a>
                            <a href="#" class="a-link"> Chair</a>
                            <a href="#" class="a-link"> Table</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="panel-menu">
                            Gadgets <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="div-menu-custom">
                            <a href="#" class="a-link"> </a>
                            <a href="#" class="a-link"> Tablets</a>
                            <a href="#" class="a-link"> Laptops</a>
                            <a href="#" class="a-link"> Computers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">*@
    @*</div>*@
        <!-- Ads -->
    @*<div class="col-md-2">
            <div>
                <div class="container">
                    <center><img src="../images/dancer.jpeg" class="adds"></center>
                    <p>Dance to your own Tune Starrex Music Phones Customized Playlist, Sound Effects.</p>
                </div>
            </div>
            <br />
            <div>
                <div class="container">
                    <center><img src="../images/heat.jpeg" class="adds"></center>
                    When the HEAT is on, the pain is gone.
                </div>
            </div>
            <br />
            <div>
                <div class="container">
                    <center><img src="../images/iphone.jpeg" class="adds"></center>
                    <p>
                        Exclusive to Apple Products: MobileMe, a collection of online services to enhance
                        your iPhone experience.
                    </p>
                </div>
            </div>
            <br />
            <div>
                <div class="container">
                    <div>
                        <a href="#" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Like on us Facebook"><i class="fa fa-facebook-official"></i></a>
                        <a href="#" class="btn btn-info" data-placement="top" data-toggle="tooltip" title="Follow on us Facebook"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-danger" data-placement="top" data-toggle="tooltip" title="Email on us Google"><i class="fa fa-google"></i></a>
                    </div>
                </div>
            </div>
        </div>*@
    @*</div>*@
    <br />
    <br />
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"></div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <a href="#" style="color: blue">Contact us</a>
                    <a href="#" class="codition" style="color: blue">Privacy Policy</a>
                    &
                    <a href="#" style="color: blue">Terms of Use</a>
                    <p> © copyright 2016-2017. <br />
                </div>
            </div>
        </div>
    </footer>
}
