@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <section>
        @{ Response.Redirect("~/Software/Index");}
    </section>
}
else
{
    <!-- navbar menu -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" class="navbar-brand"><b></b></a>
                @*<img src="../images/store.png" alt="Flower" class="navcode">*@
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#myCarousel">Home </a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#myCanvas">Subscribe</a></li>
                    @*<li class="active"><a href="@Url.Action("RentalVideoke","Home")">Product </a></li>*@
                </ul>
                @Html.Partial("_LoginPartial")
                @*<form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>*@
            </div>
        </div>
    </nav>

    @*<div id="cssmenu">

            <ul>

                <li class="active"><a href="@Url.Action("Index","Home")"><span>Home</span></a></li>
                <li><a href="@Url.Action("About","Home")"><span>About</span></a></li>
                <li>
                    <a href="@Url.Action("RentalVideoke", "Home")"><span>Products</span></a>
                    <ul>
                            <li class='has-sub'>
                                <a href="#"><span>Product 1</span></a>
                                <ul>
                                    <li><a href='#'><span>Sub Product</span></a></li>
                                    <li class='last'><a href='#'><span>Sub Product</span></a></li>
                                </ul>
                            </li>
                        </ul>
                </li>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>*@
    <div id="myCarousel" class="carousel slide carousel-custom" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            @*<li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>*@
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" align="center">
            <div class="item active" data-slide="next" aria-hidden="true">

                <img src="../images/unnamed14.jpg" alt="works" class="carouselImage">
                <div class="carousel-caption">
                    <h1></h1>
                    <p></p>
                    @*<p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>*@
                </div>
            </div>

            <div class="item" data-slide="next" aria-hidden="true">
                <img src="../images/aa.jpg" alt="save" class="carouselImage" />
                <div class="carousel-caption">

                    <h1></h1>
                    <p></p>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="sr-only">Next</span>
        </a>
    </div>
    @*<div class="row">
        <div class="col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#" class="panel-menu">
                                Home
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-menu">
                            Bags <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="div-menu-custom">
                            <a href="#" class="a-link"> Back Back</a>
                            <a href="#" class="a-link"> Sling</a>
                            <a href="#" class="a-link"> Net Bag</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-menu">
                            Furniture <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="div-menu-custom">
                            <a href="#" class="a-link"> Sofa</a>
                            <a href="#" class="a-link"> Bed</a>
                            <a href="#" class="a-link"> Chair</a>
                            <a href="#" class="a-link"> Table</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="panel-menu">
                            Gadgets <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                        </a>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="div-menu-custom">
                            <a href="#" class="a-link"> </a>
                            <a href="#" class="a-link"> Tablets</a>
                            <a href="#" class="a-link"> Laptops</a>
                            <a href="#" class="a-link"> Computers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">*@
    @*</div>*@
            <!-- Ads -->
    @*<div class="col-md-2">
            <div>
                <div class="container">
                    <center><img src="../images/dancer.jpeg" class="adds"></center>
                    <p>Dance to your own Tune Starrex Music Phones Customized Playlist, Sound Effects.</p>
                </div>
            </div>
            <br />
            <div>
                <div class="container">
                    <center><img src="../images/heat.jpeg" class="adds"></center>
                    When the HEAT is on, the pain is gone.
                </div>
            </div>
            <br />
            <div>
                <div class="container">
                    <center><img src="../images/iphone.jpeg" class="adds"></center>
                    <p>
                        Exclusive to Apple Products: MobileMe, a collection of online services to enhance
                        your iPhone experience.
                    </p>
                </div>
            </div>
            <br />
            <div>
                <div class="container">
                    <div>
                        <a href="#" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Like on us Facebook"><i class="fa fa-facebook-official"></i></a>
                        <a href="#" class="btn btn-info" data-placement="top" data-toggle="tooltip" title="Follow on us Facebook"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-danger" data-placement="top" data-toggle="tooltip" title="Email on us Google"><i class="fa fa-google"></i></a>
                    </div>
                </div>
            </div>
        </div>*@
    @*</div>*@
    <div class="container">
        <div id="about">
            <br /><br /><br /><br />
            <div class="row">
                <div class="col-sm-4">
                    <img class="model" src="" />
                </div>
                <div class="col-sm-8">
                    Description
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div>Description</div>
                </div>
                <div class="col-sm-4">
                    <img class="model" src="" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="model" src="" />
                </div>
                <div class="col-sm-8">
                    <div>Description</div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br />
    <div class="container">
        <br />
        <center><h1>Subscribe Us!</h1></center>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <div id="myCanvas">
                    <br />
                    <br />
                    <center><h2><b>1 month</b></h2></center>
                    <center><h3><b>Free Trial</b></h3></center>
                    <br /><br /><br /><br /><br /><br />
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" onclick="freeTrialModal_OnClick()" @*data-target="#freeTrialModal"*@>Get Started</button>
                    <div class="modal fade" id="freeTrialModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Information</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <center><label>Basic Information</label></center>
                                            <br /><br />
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">First Name:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Last Name:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Email Address:</label>
                                                    <div class="col-sm-8">
                                                        <input type="email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Phone Number:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <br />
                                                <hr />
                                                <br />
                                                <center><label>Credit Card Detail  <img class="creditcard" src="images/credit.jpg" /></label></center>
                                                <br />
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Credit Card No:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Date:</label>
                                                    <div class="col-sm-8">
                                                        <input type="date" class="form-control">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <center><label>Company Detail</label></center>
                                            <br /><br />
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Company Name:</label>
                                                    <div class="col-sm-8">
                                                        <input type="email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Address:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Tel No:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </form>
                                            <br /><br /><br /><br /><br /><br /><br /><br /><br />
                                            <center><h1>Free Trail<br /><small>1 month</small></h1></center>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div id="myCanvas">
                    <br />
                    <br />
                    <center><h2><b>6 months</b></h2></center>
                    <center><h3><b>&#36; 50.00</b></h3></center>
                    <br /><br /><br /><br /><br /><br />
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" onclick="sixMonthsModal_OnClick()">Get Started</button>
                    <div class="modal fade" id="6MonthsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Information</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <center><label>Basic Information</label></center>
                                            <br /><br />
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">First Name:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Last Name:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Email Address:</label>
                                                    <div class="col-sm-8">
                                                        <input type="email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Phone Number:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <br />
                                                <hr />
                                                <br />
                                                <center><label>Credit Card Detail  <img class="creditcard" src="images/credit.jpg" /></label></center>
                                                <br />
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Credit Card No:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Date:</label>
                                                    <div class="col-sm-8">
                                                        <input type="date" class="form-control">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <center><label>Company Detail</label></center>
                                            <br /><br />
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Company Name:</label>
                                                    <div class="col-sm-8">
                                                        <input type="email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Address:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Tel No:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </form>
                                            <br /><br /><br /><br /><br /><br /><br /><br /><br />
                                            <center><h1>6 Months<br /><small>&#36; 50.00</small></h1></center>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="myCanvas">
                    <br />
                    <br />
                    <center><h2><b>12 months</b></h2></center>
                    <center><h3><b>&#36; 80.00</b></h3></center>
                    <br /><br /><br /><br /><br /><br />
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" onclick="twelveMonthsModal_OnClick()">Get Started</button>
                    <div class="modal fade" id="12MonthsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Information</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <center><label>Basic Information</label></center>
                                            <br /><br />
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">First Name:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Last Name:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Email Address:</label>
                                                    <div class="col-sm-8">
                                                        <input type="email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Phone Number:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <br />
                                                <hr />
                                                <br />
                                                <center><label>Credit Card Detail  <img class="creditcard" src="images/credit.jpg" /></label></center>
                                                <br />
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Credit Card No:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Date:</label>
                                                    <div class="col-sm-8">
                                                        <input type="date" class="form-control">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <center><label>Company Detail</label></center>
                                            <br /><br />
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Company Name:</label>
                                                    <div class="col-sm-8">
                                                        <input type="email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Address:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Tel No:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </form>
                                            <br /><br /><br /><br /><br /><br /><br /><br /><br />
                                            <center><h1>12 Months<br /><small>&#36; 80.00</small></h1></center>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <footer class="footer">
        <div class="container">
            <div class="row">
                <nav>
                    <div class="col-lg-6">
                        <h4>Help</h4>
                        <ul style="list-style-type:none">
                            <li>
                                <a href="#" class="btnfooter">Contact</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms of Service</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <p>CONNECT WITH US</p>
                        <a href="#" class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Like on us Facebook"><i class="fa fa-facebook-official"></i></a>
                        <a href="#" class="btn btn-info" data-placement="top" data-toggle="tooltip" title="Follow on us Facebook"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-danger" data-placement="top" data-toggle="tooltip" title="Email on us Google"><i class="fa fa-google"></i></a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr />
                    <p>
                        <center><small>© copyright 2016-2017 Online Videoke Rental System. All Rights Reserved.</small></center>
                    </p>
                </div>
            </div>
        </div>
    </footer>
}
